</head>
<body>
  <nav>
    <i class="fas fa-solid fa-plane"></i>

    <a href="/flights/new">
      ADD FLIGHT
    </a>
    <br>
    <a href="/flights">
      ALL FLIGHTS
    </a>
    <a href="/meals/new">
      ADD MEAL
    </a>
  </nav>