body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
  font-weight: bolder;
  text-decoration: none;
}

nav {
  background-color: darkgray;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  margin: 0 10px 0 10px;
}

h1 {
  text-align: center;
}

form {
  margin-left: 16px;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}