body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
  font-weight: bolder;
  text-decoration: none;
}

nav {
  background-color: darkgray;
  height: 50px;
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  margin-left: 16px;
}
